.loader{
    animation: spin 1s linear infinite;
    font-size:48px;
    transition:ease;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }