.mainContainer{
    border-bottom: 1px solid rgb(24, 24, 24);
    width: 50%;
    margin: 0 auto;
}

.bodyContainer{
    text-align: left;
    margin-top: 20px;
}

.userContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user{
    font-size:large;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}

.rating{
    display: inline-block;
    font-weight: normal;
    font-size: large;
}

.body{
    font-size: medium;
    font-weight: normal;
}