/* .containerCart {
    color: white;
} */

.cart {
/*     color: rgb(173, 157, 157); */
    font-size: 25px;
    transition: transform 0.5s;
    cursor: pointer;
}

.cart:hover {
    transform: rotate(-12deg);
/*     color: rgb(250, 250, 250); */
    cursor: pointer;
}

/* style={{ cursor:'pointer', color:'white', ':hover': {color:'red'}}} */