.pagination {
    display: flex;
    justify-content: center;
    margin-right: 50px;
   }

.noActive {
    border: none;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 10px;
    margin: 0 0.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* .noActive:hover {
    background-image: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.active {
    background-color: #CD3F2C;
    color: #ffffff;
    transition: background-color 0.3s ease;
    border: none;
    padding: 7px 10px;
    font-size: 12px;
    margin: 0 0.02rem;
    border-radius: 3px;
} */

/* .showing{
    font-size: 12px;
    color: #CD3F2C;
} */
/* .pagContainer{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 } */