.sidebar {
    position: fixed;
    top: 10px;
    left: -15vw;
    right: 0;
    height: 100vh !important;
    width: 20vw;
    background-color: gray;
    padding: 2rem;
    z-index: 1;
    height: 100vh;
    background-color: rgba(24, 23, 23, 0.95);
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: rgb(8, 8, 8);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.836);

}